
.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%
}

.chatMessages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.currentMessage {
    resize: none;
    height: 100%
}

.send {
    height: 100%
}

.timestamp {
    font-size: 0.5em;
    color: darkgrey;
}

.message {
    background: dimgrey;
    border-radius: 3px;
    border: white 2px;
    margin-top: 5px;
    padding: 5px;
    width: 80%;
}

.myMessage {
    composes: message;
    background: teal;
    margin-left: 30px;
}
